* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Bebas Neue Book";
  src: url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans", sans-serif;
}
.container {
  max-width: 1440px;
  margin: auto;
}
.navbar {
  display: flex;
  align-items: center;
  color: white;
  height: 94px;
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 0;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
}
.header {
  padding: 94px;
  min-height: 100vh;
}
.header-image {
  background-image: url(../img/header-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.header-image::before {
  content: "";
  position: absolute;
  background-color: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-logo {
  padding: 25px 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}
.header-nav {
  flex-basis: 100%; /*чтобы растянулся на всю длинну */
  display: flex;
  list-style: none;
  padding: 0 50px;
  margin: 0;
}
.header-nav-link {
  text-decoration: none;
  font-size: 16px;
  margin-right: 50px;
  color: inherit;
}
.header-phone {
  flex-shrink: 0; /*чтобы не сжимался*/
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 50px;
}
.header-phone-link {
  text-decoration: none;
  font-style: 16px;
  color: inherit;
}
.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: white;
  background: #3a71d1;
  padding: 25px 60px;
  border: none;
  display: inline-block;
  cursor: pointer;
}
.navbar-button {
  flex-shrink: 0;
  height: 100%;
}
.header-button {
  height: 100%;
}
.seporator {
  background: #5c8ee5;
  width: 150px;
  height: 2px;
}
.header-content {
  padding-top: 150px;
  position: relative;
  z-index: 1;
  color: white;
}
.header-title {
  max-width: 1080px;
  font-family: "Bebas Neue Book";
  font-weight: 400;
  font-size: 80px;
  line-height: 120%;
  margin: 30px 0;
}
.header-text {
  max-width: 720px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  font-family: "Noto Sans";
  font-style: normal;
  margin-bottom: 50p;
}
.header-features {
  display: flex;
  min-height: 168px;
  padding: 0;
  margin-top: 100px;
  list-style-type: none;
  color: white;
  position: relative;
}
.header-features-item {
  padding: 30px 50px;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.header-features-item:not(:last-child) {
  border-right: none;
}
.header-features-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}
.section {
  margin-top: 150px;
  margin-bottom: 150px;
}
.section-title {
  font-family: "Bebas Neue Book";
  color: #292d33;
  font-weight: 400;
  font-size: 60px;
  line-height: 120%;
}
.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 30px;
}
.steps-item {
  max-width: 330px;
}
.steps-num {
  font-family: "Bebas Neue Book";
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #5c8ee5;
  display: flex;
  align-items: center;
}
.steps-num::after {
  content: "";
  height: 1px;
  background: #ebebf0;
  width: 100%;
  margin-left: 30px;
}
.steps-title {
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  color: #292d33;
  font-family: "Noto Sans";
  margin-bottom: 10px;
  margin-top: 30px;
}
.steps-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828a99;
  font-family: "Noto Sans";
  margin-top: 10px;
  margin-bottom: 20px;
}
.steps-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #5c8ee5;
  font-family: "Noto Sans";
}
.steps-link::before {
  content: "";
  height: 1px;
  background: #5c8ee5;
  width: 40px;
  margin-right: 20px;
}
